* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color:rgb(0, 0, 0);
    font-family: Helvetica, Arial, sans-serif;
  }

/*-- HEADER / NAV  -- */

header {
  padding: 20px 35px;
  background-color: rgb(76, 131, 124);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 9999;
}

header h1 {
  font-weight: lighter;
  margin: 0;
  font-size: 36px;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
  text-decoration: none;
  color: #fff
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/*-- FOOTER --*/
footer {
    background: rgb(76, 131, 124);
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  
  footer h2 {
    color: #fff;
    font-weight: lighter;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  footer div {
    line-height: 1.5;
    text-align: right;
  }

  /* Sections */
section {
    padding: 60px;
  }

/*-- Hero --*/
.hero {
  background-image: url('tiles.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;
}

.hero-text {
  width: 35%;
  text-align: center;
  margin: 3.5%;
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
  font-style: italic;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/*-- Sections --*/

.headers {
    font-size: 48px;
    border-bottom: 3px solid;
    color: rgb(76, 131, 124);
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%; 
}

/*-- About --*/
.about {
    background:#fff;
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .bio {
    margin: auto;
    width: 50%;
    flex: 1;
    background:#fff;
    color:rgb(0, 3, 3);
    font-size: 14px;
  }
  
  .bio img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border: 10px solid rgb(224, 206, 183);
  }
  
  .bio p {
    padding-top: 5%;
  }

  /* Projects */
  .projects {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .projectone img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid rgb(224, 206, 183);
  }

  .projecttwo img{
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid rgb(224, 206, 183);
  } 
  
  .projectthree img {
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid rgb(224, 206, 183);
  }
  
.projects h3 {
    font-size: 24px;
    color:rgb(76, 131, 124);
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}


  /* Contact */
  .contact {
    background:#fff;
  }

  .contact ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 30px;
  }



/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer h2, footer div {
    text-align: center;
    width: 100%;
  }

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  .hero-text {
    width: 100%;
  }

  .bio img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 2px solid rgb(224, 206, 183);
  }
  
  .bio {
    font-size: 16px;
  }

  .projecttwo img{
    width: 70%;
    border: 3px solid rgb(224, 206, 183);
  } 
  
  .projectthree img {
    width: 70%;
    border: 3px solid rgb(224, 206, 183);
  }
  
.projects h3 {
    font-size: 28px;
}

}
 

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .hero-text {
    width: 100%;
  }

  .bio img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: 2px solid rgb(224, 206, 183);
  }
  
  .bio {
    width: 80%;
    font-size: 14px;
  }

  .headers {
    width: 100%; 
}
.projecttwo img{
  width: 80%;
} 

.projectthree img {
  width: 80%;
}

}